:root {
    font-family: Lato, sans-serif;

    --clr-dark: #252525;
    --clr-light: #cfcfcf;

    --bg-light: #f6f6f6;
    --bg-white: white;
    --rounded-corner: 0.5rem;
    --fs-default: 1rem;
    --fs-500: 1.15rem;
    --fs-600: 1.75rem;
    --fs-700: 1.85rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;
}

/* Utilities */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

body {
    color: var(--clr-dark);
}

.text-dark {
    color: var(--clr-dark);
}

.bold {
    font-weight: 700;
}

.fs-default {
    font-size: var(--fs-default);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-900 {
    font-size: var(--fs-900);
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-white {
    background-color: var(--bg-white);
}

/* Components */

main {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(0, 80rem) minmax(2rem, 1fr);
}

.task-heading {
    place-items: center;
    gap: 1rem;
    padding-block: 1.5rem;
}

.container--tasks {
    grid-column: 2;
    gap: 0.5rem;
}

.container--tasks>*+* {
    border-top: 1px solid rgb(0, 0, 0, 0.05);
}

.task {
    position: relative;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem;
    border-radius: var(--rounded-corner);
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.125);
}


.add-task {
    display: inline-grid;
    place-items: center;
    aspect-ratio: 1;
    border-radius: 0.25rem;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
}

.task>div {
    position: absolute;
    bottom: -1.25rem;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    background-color: yellow;
}

.task>div[aria-hidden="false"] {
    display: unset;
}

.task input {
    font-family: Poppins, sans-serif !important;
    border: none;
    outline: none;
    caret-color: transparent;
}

.task input::selection {
    background-color: unset;
}

.completed {
    color: var(--clr-light);
    text-decoration: line-through;
}